$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Coming+Soon);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

$whitish: #F5F5F5;
$bg-green: #347D7B;
$twitter-blue: #55ACEE;

blockquote {
    border-left: none;
}

.well {
  position: relative;
  z-index: 0;
  height: 250px;
}

// TODO:  
// twitter link comes up twice, second is after a delay
// black box in top right hand corner on desktop

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $bg-green;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#gen-button {
  color: $whitish !important;
  background: rgba(0,0,0,0);
  border: solid 2px $whitish !important;
  font-size: 1.2em !important;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

  &:hover,
  &.hover {
    border-color: #e7e7e7 !important;
    background-color: #e7e7e7 !important;
  }

  &:active,
  &.active {
    background-color: $whitish !important;
    border-color: $whitish !important;
    color: $bg-green !important;
  }
}

#gen-button {
  color: $whitish !important;
  background: rgba(0,0,0,0);
  border: solid 2px $whitish !important;
  font-size: 1.2em !important;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

  &:hover, &.hover, &:active, &.active {
    border-color: #e7e7e7 !important;
    background-color: #e7e7e7 !important;
  }
}

a {
  text-decoration: none !important;
}

#twitter-share-button {
  color: $whitish !important;
  background-color: $twitter-blue;
  border: solid 2px $whitish !important;
  font-size: 1.2em !important;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

  &:hover, &.hover, &:active, &.active {
    border-color: #e7e7e7 !important;
    background-color: #e7e7e7 !important;
    color: $twitter-blue !important;
  }
}

#gen-button.hover,
#gen-button:hover {
  color: $bg-green !important;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.well blockquote {
  p {
    vertical-align: top;
    text-align: center;
    position: relative;
    font-family: 'Coming Soon', cursive;
    font-size: 1.5em;
    z-index: 10;
  }
  .container {
    max-width: 80%;
    max-height: 80%;
  }

  footer {
    position: relative;
    font-family: 'Cinzel', serif;
    float:right;
    z-index: 10;
  }
  .btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }
}


.speech {
  position: absolute;
  font-family: times;
  z-index: 0;
  i {
    height: 30%;
    width: 30%;
    color: #e7e7e7;
    font-size: 10em;
    position: inline-block;
  }
}

.fa-quote-left {
  float: left;
}

.fa-quote-right {
  float: right;
  padding-top: 30px;
}

.btn {
  border-radius: 0 !important;
}

div {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

//phone 
@media screen and (min-width: 200px) and (max-width: 570px) {
  .speech i {
    font-size: 5em;
  }

  .container #phrase {
    font-size: 1em;
  }
  
  blockquote {
    width: 100%;

    .container {
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  .well {
    height: 300px;
  }

}

//wide phone
@media screen and (max-height: 400px) {
  .well {
    height: 175px;
  }

}
